body {
  background-color: ghostwhite;
  text-align: center;
  margin: 0;
  padding: 0;

  background-image: url("/public/img/pattern.png");
  background-size: 100% auto;
  background-repeat: repeat;
  background-position: center top;
  background-size: auto;
}

.container {
  max-width: 588px;
  width: 80%;
  margin: 0 auto;
  padding-top: 10vh;
  padding-bottom: 8vh;
  padding-left: 5%;
  padding-right: 5%;
}

.title {
  font-family: "Kokoro", sans-serif;
  color: #00b084;
  font-size: 3.3vw;
}

.logomain {
  width: 40vw;
  max-width: 350px;
  height: auto;
  margin-top: 5vh;
  margin-bottom: 8vh;
}

.content {
  font-family: "Jomolhari", serif;
  font-size: 1.3vw;
  text-align: left;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.subtitle {
  font-size: 1.35vw;
  font-weight: bold;
  padding-bottom: 1vh;
}

footer {
  font-family: "Jaldi", sans-serif;
  margin-top: 5vh;
  font-size: 0.8vw;
}

@media (max-width: 950px) {
  .title {
    font-size: 6vw;
  }

  .container {
    width: 90%;
    padding-left: 8%;
    padding-right: 8%;
  }
  
  .content {
    font-size: 3vw;
  }
  
  .subtitle {
    font-size: 3vw;
  }

  footer {
    font-size: 2.5vw;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 8vw;
  }

  .container {
    width: 95%;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .content {
    font-size: 4vw;
  }
  
  .subtitle {
    font-size: 4vw;
  }

  footer {
    font-size: 3vw;
  }
}

